database.type = {{ digdag_server_database_type }}
database.user = {{ digdag_server_database_user }}
database.password = {{ digdag_server_database_password }}
database.host = {{ digdag_server_database_host }}
database.port = {{ digdag_server_database_port }}
database.database = {{ digdag_server_database_database }}